@page "/register"

@using Ecocell.Communication.Enums.User
@using Ecocell.Razor.Components.RegisterForm.LegalPerson
@using Ecocell.Razor.Components.RegisterForm.NaturalPerson
@using Ecocell.Razor.Components.Switches

<div class="page">
    <div class="container">
        <div class="text">
            <h1>Crie sua conta</h1>
        </div>

        <div class="form">
            <SwitchButtons ButtonLeftText="Pessoa física" ButtonRightText="Pessoa jurídica" UserTypeChanged="@OnUserTypeChanged"/>

            @if(_userType == UserType.NaturalPerson)
            {
                <RegisterFormNaturalPerson />
            }
            else if (_userType == UserType.LegalPerson)
            {
                <RegisterFormLegalPerson />
            }
        </div>
    </div>    
</div>
