@page "/register"
@using Ecocell.Razor.Components.Switches

<div class="page">
    <div class="container">
        <div class="text">
            <h1>Crie sua conta</h1>
        </div>

        <div class="form">
            <SwitchButtons ButtonLeftText="Pessoa física" ButtonRightText="Pessoa jurídica"/>
        </div>
    </div>    
</div>
