@inherits LayoutComponentBase

@using Ecocell.Razor.Customization.Themes

<div class="sidebar">
    <NavMenu />
</div>

<MudThemeProvider Theme="_defaultTheme.MudTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@Body


@code 
{
    private DefaultTheme _defaultTheme = new DefaultTheme();
}